.place__website {
    justify-self: start;
    align-self: end;
    margin: 0;
}

@media (max-width: 550px) {
    .place__website {
        margin: 0px 16px 32px;
        width: calc(100% - 32px);
}
}