.places {
   width: 100%;
   margin: 0 auto;
}


@media (min-width: 1224px) {
   .places {
      width: 984px;
   }
}

@media (max-width: 1223px) and (min-width: 1001px){
   .places {
       margin: 0 48px;
       width: calc(100% - 96px);
   }
}

@media (max-width: 1000px) and (min-width: 550px){
   .places {
       margin: 0 24px;
       width: calc(100% - 48px);
   }
}



