.places {
   width: 100%;
   margin: 0 auto;
   
}


@media (min-width: 1224px)  {
   .places {
      width: 984px;}
}

@media (max-width: 1224px) and (min-width: 1024px){
   .places {
       margin: 0 48px;
       width: calc(100% - 96px);
   }
}

@media (max-width: 1023px) and (min-width: 551px){
   .places {
       margin: 0 24px;
       width: calc(100% - 48px);
   }
}



