.intro__list {
    font-size: 12px;
    line-height: 18px;
    font-family: inter;
    font-weight: bold;
    text-align: left;
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    
}

@media (max-width:752px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        width: 100%;
    }

}