.lead {
    margin: 0px auto;
    max-width: 984px;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}

@media (min-width: 1024px) and (max-width:1223px)  {
    .lead {
        width: 928px;}
}


@media (min-width: 1224px)  {
    .lead {
       width: 984px;}
}





