.lead {
    margin: 0px auto;
    max-width: 984px;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 1000px) and (max-width:1223px)  {
    .lead {
        width: calc(100% - 96px);
}
}


@media (min-width: 1224px)  {
    .lead {
       width: 984px;
 }
}





