.header {
    height: 52px;
    max-width: 1184px;
    min-width: calc(100% - 96px);
    margin: 28px auto 48px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    box-sizing: border-box;
}

@media (min-width: 1224px) {
    .header {
        margin: 28px auto 56px;  
}
}

@media (max-width:1223px) and (min-width:1001px) {
    .header {
        width: calc(100% - 96px); 
}
}

@media (max-width:1000px) and (min-width:551px) {
    .header {
        width: calc(100% - 48px); 
}
}

@media (max-width:550px) {
    .header {
        height:42px;
        margin: 16px auto 48px;
        width: calc(100% - 32px);
    }
}