.lead__title {
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    font-family: inter;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    
}

@media screen and (max-width: 752px){

    .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
   
}
}