.intro__text {
    font-size: 16px;
    line-height: 163%;
    font-family: inter;
    font-weight: normal;
    text-align: left;
    margin: 40px auto 33px 0;
    width: 100%;   
}


@media (max-width: 752px) {
    .intro__text {
    margin-bottom: 34px;
    } 
}
