.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    width: 640px;
    font-family: "inter", sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 32px auto 56px;
    display: block;
}

@media screen and (min-width: 1224px){

    .lead__subtitle {
        margin: 32px auto 64px;
    } 
}


@media screen and (max-width: 752px){

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        margin: 16px auto 40px;
    } 
}