.cover {
    width: 100%;
    max-width: 1184px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "cover";
    margin: 92px auto;
}



 @media (max-width: 1000px) and (min-width: 750px) {
    .cover {
        margin:88px auto;
    }
}

@media (max-width: 750px) {
    .cover {
        margin:66px auto 64px;
    }
 }