.footer {
    width: calc(100% - 96px);
    margin: 0 auto 24px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
}

@media (max-width:1000px) and (min-width:751px) {
    .footer {
        width: calc(100% - 48px);
    }
}


@media (max-width:750px) {
    .footer {
        flex-direction: column;
        width: 186px;
        height:auto;
        margin: 0 auto 24px 16px;
        position: relative;
}
}